@import './base.css';

main,
section {
  padding: 1rem;
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

section {
  padding-top: 0 !important;
}

#app {
  display: grid;
  grid-template-rows: fit-content(100%);

  min-height: 100vh;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
} */

.title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

.title::before,
.title::after {
  content: '';
  display: block;
  width: 2rem;
  height: 2px;
  background-color: var(--vt-c-green);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--vt-c-green);
  transition: 0.4s;
  padding: 3px;
}

.green {
  color: var(--vt-c-green);
}

@media (hover: hover) {
  a:hover {
    color: hsla(160, 100%, 37%, 0.7);
  }
}

svg {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  color: inherit;
}

/* Desktop */
@media (min-width: 1024px) {
  main,
  section {
    display: grid;
    place-content: center;
    padding: 3rem;
    padding-left: 15rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .title::before,
  .title::after {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1rem;
  }

  /* body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding: 0 2rem;
  } */
}
