@import './base.css';

main,
section {
  padding: 1rem;
  display: grid;
  place-content: center;
  width: 100%;
  min-height: 80vh;
  margin: 0 auto;
  font-weight: normal;

  border: 1px solid var(--color-border);
  /* border-radius: 30px; */
  box-shadow: 0 4px 8px var(--color-border);
}

#app {
  position: relative;
  min-height: 100vh;
  font-weight: normal;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
  background: -webkit-linear-gradient(315deg, var(--vt-c-green) 25%, var(--vt-c-blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title::before,
.title::after {
  content: '';
  display: block;
  width: 2rem;
  height: 2px;
  background-color: var(--vt-c-green);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--vt-c-green);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: var(--vt-c-red);
  }
}

.button,
.button-primary {
  display: inline-block;
  padding: 0.5rem 1rem;
  /* border-radius: 2rem; */
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
  color: var(--vt-c-white);
  background: -webkit-linear-gradient(315deg, var(--vt-c-green) 25%, var(--vt-c-blue));
  border: 1px solid var(--color-border);

  @media (hover: hover) {
    &:hover {
      color: var(--vt-c-white);
      background: -webkit-linear-gradient(315deg, var(--vt-c-red) 25%, var(--vt-c-blue));
      border-color: var(--vt-c-red);
    }
  }

  &.active {
    cursor: default;
    background: -webkit-linear-gradient(315deg, var(--vt-c-red) 25%, var(--vt-c-blue));
    border-color: var(--vt-c-red);
  }
}

.button-secondary {
  background: -webkit-linear-gradient(315deg, var(--vt-c-red) 25%, var(--vt-c-blue));
  border-color: var(--vt-c-red);

  @media (hover: hover) {
    &:hover {
      color: var(--vt-c-white);
      background: -webkit-linear-gradient(315deg, var(--vt-c-green) 25%, var(--vt-c-blue));
      border-color: var(--vt-c-green);
    }
  }

  &.active {
    cursor: default;
    background: -webkit-linear-gradient(315deg, var(--vt-c-green) 25%, var(--vt-c-blue));
    border-color: var(--vt-c-green);
  }
}

.button-tertiary {
  background: -webkit-linear-gradient(315deg, var(--vt-c-blue) 25%, var(--vt-c-green));
  border-color: var(--vt-c-blue);

  @media (hover: hover) {
    &:hover {
      color: var(--vt-c-white);
      background: -webkit-linear-gradient(315deg, var(--vt-c-blue) 25%, var(--vt-c-red));
      border-color: var(--vt-c-blue);
    }
  }

  &.active {
    cursor: default;
    background: -webkit-linear-gradient(315deg, var(--vt-c-blue) 25%, var(--vt-c-red));
    border-color: var(--vt-c-blue);
  }
}

.green {
  color: var(--vt-c-green);
}

.uppercase {
  text-transform: uppercase;
}

.bold,
strong,
b {
  font-weight: bold;
}

.boldish {
  font-weight: 500;
}

.small {
  font-size: 0.9rem;
}

svg {
  display: block;
  width: var(--svg-width, 1.5rem);
  height: var(--svg-height, 1.5rem);
  fill: currentColor;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.on-hover-transition {
  @media (min-width: 1024px) {
    transition: transform 0.3s ease-in-out;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

/* Desktop */
@media (min-width: 1024px) {
  main,
  section {
    padding: 2rem;
    margin: 3rem auto;
    max-width: var(--xlarge-container);
  }

  .title {
    font-size: 2.5rem;
  }

  .title::before,
  .title::after {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1rem;
  }
}
